
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.flexed { 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexed > .search{ 
    height: 10%;
    margin-top: 1rem;
}

.non-flexed { 
    display: grid; 
    grid-template-rows: 10% 5% 30% 50% 5%;
    grid-auto-columns: 100%;
}

.flexed > .header{ 
    display: flex; 
    align-items: flex-end;
    width: 100%; 
    height: 90%;

}

.flexed > .mainword{ 
    display: none; 
}


.flexed > .phonetics { 
    display: none;
}

.flexed > .meanings { 
    display: none;
} 

 

body { 
    width: 100%; 
    height: 100vh; 
    font-family: 'Roboto', sans-serif; 
}

.container { 
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.dbox { 
    width: 55%; 
    height: 95%; 
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.3);
    
}

.header { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.header span { 
    font-size: 2rem; 
    margin: 0 3rem;
}

.header span , .header h1 { 
    cursor: default;
}


.search { 
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.search-bar { 
    width: 50%; 
    height: 95%; 
    background-color: white;
    border-radius:25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wordinput, #searchbutton { 
    display: flex; 
    justify-content: center;
    align-items: center;
}

#searchbutton { 
    width: 15%; 
    height: 100%;
    cursor: pointer;
}


#wordinput { 
    width: 0% ;
    height: 100%;
    transition: 300ms ease-in-out 100ms;
    text-align: center;
    border: none;

    font-family: 'Poppins';
    font-size: 1.5rem;
}

#wordinput:focus{ 
    outline: none;

}


.mainword { 
    
    width: 100%; 
    height: 100%; 
    opacity:  0;
    display: grid; 
    grid-template-rows:  80% 20%;
}

.word , .phonetics { 
    width: 100%; 
    height: 100%; 
    display : flex;
}

.word {
    align-items: center;
    justify-content: center;
}

.word h1 { 
    font-family: 'Poppins';
    font-size: 5rem;
    padding: 25px 150px; 
    border-radius: 15px;
    background-color: white;
}

.phonetics { 
    justify-content: center;
    align-items: flex-start;
    

}

.phonetics h3 { 
    font-size: 1.3rem;
    color: rgb(4, 4, 143)
}


.meanings { 
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;

}

.meaning-wrapper { 
    width: 95%; 
    height: 100%;
    background-color: white;
    border-radius: 25px; 
    overflow-x: auto;
  
}

.footer { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.footer span { 
    font-size: 0.8rem; 
    font-weight: 300;
    font-style: italic;
}

.meaning-box { 
    width: 100%; 
    height:50%; 
    
    display: flex; 
    align-items: center;
    justify-content: center
}


.mbb { 
    
    width: 90%; 
    height: 90%; 
    display: grid; 
    grid-template-rows: 20% 30% 30% 20%;
    grid-template-columns: 100%;
}

.partofspeech { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center;
}

.propbox { 
    
    width: 100%; 
    height: 100%; 
    display: grid; 
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
}

.def-title  { 
    width: 100%; 
    height: 100% ; 
    display: flex ; 
    align-items: center;
}

.def-title h1 { 
    font-style:italic;
    font-weight: 300;
    font-size: 1rem;
    color: gray;
}

.def-list { 
    width: 100%; 
    height: 100%;
}

.def-list ul { 
    margin-left: 3rem;
    list-style: none;
    
}


.synonyms { 
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-columns: 25% 75%;
}

.syn-title {
    
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.syn-title h1 { 
    color:gray;
    font-size: 1.3rem;
    font-weight: 500;
}


.syn-list { 
    width: 100%; 
    height: 100%;
    display: flex; 
    align-items: center;
}

.syn-list ul li { 
    display: inline-block; 
    color: darkblue;
    font-weight: 500;
    margin: 0 1rem; 
}


@media only screen and (max-width: 767px) {
    .header h1, .header span { 
        font-size: 15px;
    }

    .dbox { 
        width: 90%; 
    
    }

    .header { 
        justify-content: space-evenly;
    }

    .search-bar { 
        width :80%; 
    }

    #wordinput { 
        font-size: 1.2rem;
    }

    
    .word h1 { 
        font-size: 2rem;
        padding: 25px 50px;
    }

    .synonyms { 
        margin-bottom: 2rem;
    }

    .meaning-box { 
        height: 90%
    }


    .def-list ul li { 
        font-size: 0.7rem;
    }

    .syn-list ul li { 
        display: inline-block; 
        margin: 0 1.5rem;
        font-size: 0.8rem;
    }

    .mbb { 
        height: 100%;
    }
    

}